# Dependencias basicas
requests==2.31.0
chardet==5.2.0
pillow==10.2.0
lxml==5.0.0
sendgrid==6.11.0
qrcode==7.4.2
python-dateutil==2.8.2
css_parser==1.0.10
beautifulsoup4==4.12.2
gunicorn
Flask==3.0.0
flask-babel==4.0.0
six
feedparser==6.0.11
google-cloud-tasks==2.15.0
google-cloud-datastore
datastore-entity
appengine-python-standard==1.1.4
