{% extends "adv_base.html" %}
{% block titleTag -%}
<title>{{ _("Deliver now") }} - KindleEar</title>
{% endblock -%}
{% block advcontent -%}
<div class="pure-form pure-form-aligned">
  <fieldset>
    <legend><h3>{{ _("Deliver now") }}</h3></legend>
    <p><small>{{ _("Deliver selected recipes now") }}</small></p>
    <div class="box-list">
      {% if recipes|length == 0 -%}
        <div class="box">{{ _("There are no recipes subscribed") }}</div>
      {% endif -%}
      {% set userName = session.get('userName', '') -%}
      {% for item in recipes -%}
      <label for="{{item.recipe_id}}" class="pure-checkbox box">
        <input id="{{item.recipe_id}}" type="checkbox" class="deliver_now_rss_id" checked="1" onclick="UpdateDeliverRecipeLink('{{userName}}');" />
        <span>{{item.title}}</span>
      </label>
      {% endfor -%}
      {% if recipes|length > 0 -%}
      <div class="cornerControls" style="padding:.5em 0;text-align:center;">
        <a href="#" class="actionButton" onclick="SelectDeliverAll();UpdateDeliverRecipeLink('{{userName}}');return false;">{{ _("Select all") }}</a>
        <a href="#" class="actionButton" onclick="SelectDeliverNone();UpdateDeliverRecipeLink('{{userName}}');return false;">{{ _("Select none") }}</a>
      </div>
      {% endif -%}
    </div>
    <div style="text-align:center;">
        <a href="/deliver?u={{userName}}" value="{{ _('Deliver') }}" id="deliverNowButton" class="pure-button pure-button-primary pure-input-rounded">{{ _('Deliver') }}</a>
    </div>
  </fieldset>
</div>
{% endblock -%}
