{% extends "base.html" %}
{% block titleTag -%}
<title>{{ _("Settings") }} - KindleEar</title>
{% endblock -%}
{% block bodytag -%}
<body class="settings">
{% endblock -%}

{% block content -%}
{% set now = g.now() %}
<div class="main">
  {% if user.expires -%}
  <div class="grey">
    {{_("Your account will pause after {0}, please log in again before it expires.").format(user.expires.strftime("%Y-%m-%d")) }}
  </div>
  {% endif -%}
  <form class="pure-form pure-form-aligned" action="" method="POST">
    {% if tips -%}
    <div class="notice-box error">{{tips}}</div>
    {% endif -%}

    <fieldset>
      <legend><h3>{{_("Base")}}</h3></legend>
      <div class="pure-control-group">
        <label>{{_("Auto Delivery")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="enable_send">
          <option value="all" {% if user.enable_send and user.enable_custom_rss %}selected="selected"{% endif %}>{{_("Recipes and custom RSS")}}</option>
          <option value="recipes" {% if user.enable_send and not user.enable_custom_rss %}selected="selected"{% endif %}>{{_("Recipes only")}}</option>
          <option value="no" {% if not user.enable_send %}selected="selected"{% endif %}>{{_("Disable all")}}</option>
        </select>
      </div>
      <div class="pure-control-group">
        <label><em class="required">*</em> {{_("Kindle E-mail")}}</label>
        <input type="email" name="kindle_email" value="{{user.kindle_email}}" placeholder="{{_('Seperated by comma')}}" class="pure-u-1 pure-u-sm-1-2" required multiple />
      </div>
      <div class="pure-control-group">
        <label>{{_("Time zone")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="timezone">
          {% for i in range(-12, 0) -%}
          <option value="{{ i }}" {% if user.timezone|int==i %}selected="selected"{% endif %}>{{ "GMT%d:00" % i }}</option>
          {% endfor -%}
          <option value="0" {% if user.timezone|int==0 %}selected="selected"{% endif %}>GMT</option>
          {% for i in range(1, 14) -%}
          <option value="{{ i }}" {% if user.timezone|int==i %}selected="selected"{% endif %}>{{ "GMT+%d:00" % i }}</option>
          {% endfor -%}
        </select>
      </div>
      <div class="pure-control-group">
        <label>{{_("Delivery days")}}</label>
        <input type="checkbox" id="mon" name="Monday" {% if not user.send_days or 0 in user.send_days %}checked="1"{% endif %} />
        <span class="font90" style="cursor:default;" onclick="ToggleWeekBtn('#mon');">{{_("Mon")}} &nbsp;</span>
        <input type="checkbox" id="tue" name="Tuesday" {% if not user.send_days or 1 in user.send_days %}checked="1"{% endif %} />
        <span class="font90" style="cursor:default;" onclick="ToggleWeekBtn('#tue');">{{_("Tue")}} &nbsp;</span>
        <input type="checkbox" id="wed" name="Wednesday" {% if not user.send_days or 2 in user.send_days %}checked="1"{% endif %} />
        <span class="font90" style="cursor:default;" onclick="ToggleWeekBtn('#wed');">{{_("Wed")}} &nbsp;</span>
        <input type="checkbox" id="thu" name="Thursday" {% if not user.send_days or 3 in user.send_days %}checked="1"{% endif %} />
        <span class="font90" style="cursor:default;" onclick="ToggleWeekBtn('#thu');">{{_("Thu")}} &nbsp;</span>
        <input type="checkbox" id="fri" name="Friday" {% if not user.send_days or 4 in user.send_days %}checked="1"{% endif %} />
        <span class="font90" style="cursor:default;" onclick="ToggleWeekBtn('#fri');">{{_("Fri")}} &nbsp;</span>
        <input type="checkbox" id="sat" name="Saturday" {% if not user.send_days or 5 in user.send_days %}checked="1"{% endif %} />
        <span class="font90" style="cursor:default;" onclick="ToggleWeekBtn('#sat');">{{_("Sat")}} &nbsp;</span>
        <input type="checkbox" id="sun" name="Sunday" {% if not user.send_days or 6 in user.send_days %}checked="1"{% endif %} />
        <span class="font90" style="cursor:default;" onclick="ToggleWeekBtn('#sun');">{{_("Sun")}} &nbsp;</span>
      </div>
      <div class="pure-control-group">
        <label>{{_("Delivery time")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="send_time">
          {% for i in range(0, 24) -%}
          <option value="{{ i }}" {% if user.send_time|int == i %}selected="selected"{% endif %}>{{ "%02d:00" % i }}</option>
          {% endfor -%}
        </select>
      </div>
      <div class="pure-control-group">
        <label>{{_("Book type")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="book_type">
          <option value="epub" {% if user.book_type == 'epub' %}selected="selected"{% endif %}>epub</option>
          <option value="mobi" {% if user.book_type != 'epub' %}selected="selected"{% endif %}>mobi</option>
        </select>
      </div>
      <div class="pure-control-group">
        <label>{{_("Device type")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="device_type">
          <option value="kindle" {% if user.device == 'kindle' %}selected="selected"{% endif %}>Kindle</option>
          <option value="kindle_dx" {% if user.device == 'kindle_dx' %}selected="selected"{% endif %}>Kindle DX</option>
          <option value="kindle_pw" {% if user.device == 'kindle_pw' %}selected="selected"{% endif %}>Kindle PaperWhite</option>
          <option value="kindle_fire" {% if user.device == 'kindle_fire' %}selected="selected"{% endif %}>Kindle Fire</option>
          <option value="kindle_voyage" {% if user.device == 'kindle_voyage' %}selected="selected"{% endif %}>Kindle Voyage</option>
          <option value="kindle_pw3" {% if user.device == 'kindle_pw3' %}selected="selected"{% endif %}>Kindle PaperWhite 3</option>
          <option value="kindle_oasis" {% if user.device == 'kindle_oasis' %}selected="selected"{% endif %}>Kindle Oasis</option>
          <option value="kindle_scribe" {% if user.device == 'kindle_scribe' %}selected="selected"{% endif %}>Kindle Scribe</option>
          <option value="others" {% if user.device == 'others' %}selected="selected"{% endif %}>{{_("Others")}}</option>
        </select>
      </div>
      <div class="pure-control-group">
        <label>{{_("Title format")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="title_fmt">
          <option value="" {% if not user.title_fmt %}selected="selected"{% endif %}>{{_("Title Only")}}</option>
          <option value="%Y-%m-%d" {% if user.title_fmt=='%Y-%m-%d' %}selected="selected"{% endif %}>{{_("Title")}} {{now.strftime("%Y-%m-%d")}}</option>
          <option value="%m-%d" {% if user.title_fmt=='%m-%d' %}selected="selected"{% endif %}>{{_("Title")}} {{now.strftime("%m-%d")}}</option>
          <option value="%b %d" {% if user.title_fmt=='%b %d' %}selected="selected"{% endif %}>{{_("Title")}} {{now.strftime("%b %d")}}</option>
          <option value="%a, %b %d" {% if user.title_fmt=='%a, %b %d' %}selected="selected"{% endif %}>{{_("Title")}} {{now.strftime("%a, %b %d")}}</option>
        </select>
      </div>
      {#<div class="pure-control-group">
        <label>{{_("Book mode")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="book_mode">
          <option value="periodical" {% if not user.book_mode or user.book_mode=='periodical' %}selected="selected"{% endif %}>{{_("Periodical")}}</option>
          <option value="comic" {% if user.book_mode=='comic' %}selected="selected"{% endif %}>{{_("Comic")}}</option>
        </select>
      </div>#}
      <div class="pure-control-group">
        <label>{{_("Remove hyperlinks")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="remove_hyperlinks">
          <option value="" {% if not user.remove_hyperlinks %}selected="selected"{% endif %}>{{_("Do not remove hyperlinks")}}</option>
          <option value="image" {% if user.remove_hyperlinks=='image' %}selected="selected"{% endif %}>{{_("Remove image links")}}</option>
          <option value="text" {% if user.remove_hyperlinks=='text' %}selected="selected"{% endif %}>{{_("Remove text links")}}</option>
          <option value="all" {% if user.remove_hyperlinks=='all' %}selected="selected"{% endif %}>{{_("Remove all hyperlinks")}}</option>
        </select>
      </div>
    </fieldset>

    <fieldset id="adv_fieldset">
      <legend><h3>{{_("Custom RSS")}}</h3></legend>
      <div class="pure-control-group">
        <label><em class="required">*</em> {{_("Title")}}</label>
        <input type="text" name="rss_title" value="{{ user.book_title }}" required class="pure-u-1 pure-u-sm-1-2" />
      </div>
      <div class="pure-control-group">
        <label>{{_("Language")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="book_language">
        {% for langCode in langMap -%}
        {% if user.book_language == langCode -%}
        <option value="{{langCode}}" selected="selected">{{langMap[langCode]}}</option>
        {% else -%}
        <option value="{{langCode}}">{{langMap[langCode]}}</option>
        {% endif -%}
        {% endfor -%}
        </select>
      </div>
      <div class="pure-control-group">
        <label>{{_("Oldest article")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="oldest">
          <option value="0" {% if not user.oldest_article %}selected="selected"{% endif %}>{{_("No limit")}}</option>
          <option value="1" {% if user.oldest_article==1 %}selected="selected"{% endif %}>{{_("1 Day")}}</option>
          <option value="2" {% if user.oldest_article==2 %}selected="selected"{% endif %}>{{_("2 Days")}}</option>
          <option value="3" {% if user.oldest_article==3 %}selected="selected"{% endif %}>{{_("3 Days")}}</option>
          <option value="4" {% if user.oldest_article==4 %}selected="selected"{% endif %}>{{_("4 Days")}}</option>
          <option value="5" {% if user.oldest_article==5 %}selected="selected"{% endif %}>{{_("5 Days")}}</option>
          <option value="6" {% if user.oldest_article==6 %}selected="selected"{% endif %}>{{_("6 Days")}}</option>
          <option value="7" {% if user.oldest_article>=7 %}selected="selected"{% endif %}>{{_("7 Days")}}</option>
        </select>
      </div>
      <div class="pure-control-group">
        <label>{{_("Time format")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="time_fmt">
          <option value="%Y-%m-%d" {% if user.time_fmt=="%Y-%m-%d" %}selected="selected"{% endif %}>{{now.strftime("%Y-%m-%d")}}</option>
          <option value="%a, %d %b %Y" {% if user.time_fmt=="%a, %d %b %Y" %}selected="selected"{% endif %}>{{now.strftime("%a, %d %b %Y")}}</option>
          <option value="%a, %b %d" {% if user.time_fmt=="%a, %b %d" %}selected="selected"{% endif %}>{{now.strftime("%a, %b %d")}}</option>
          <option value="%b %d" {% if user.time_fmt=="%b %d" %}selected="selected"{% endif %}>{{now.strftime("%b %d")}}</option>
          <option value="%m-%d" {% if user.time_fmt=="%m-%d" %}selected="selected"{% endif %}>{{now.strftime("%m-%d")}}</option>
          <option value="%m/%d" {% if user.time_fmt=="%m/%d" %}selected="selected"{% endif %}>{{now.strftime("%m/%d")}}</option>
          <option value="%d/%m" {% if user.time_fmt=="%d/%m" %}selected="selected"{% endif %}>{{now.strftime("%d/%m")}}</option>
        </select>
      </div>
      <div class="pure-control-group">
        <label>{{_("Author format")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="author_format">
          <option value="" {% if not user.author_format %}selected="selected"{% endif %}>KindleEar</option>
          <option value="%Y-%m-%d" {% if user.author_format=='%Y-%m-%d' %}selected="selected"{% endif %}>{{now.strftime("%Y-%m-%d")}}</option>
          <option value="%m-%d" {% if user.author_format=='%m-%d' %}selected="selected"{% endif %}>{{now.strftime("%m-%d")}}</option>
          <option value="%m/%d" {% if user.author_format=='%m/%d' %}selected="selected"{% endif %}>{{now.strftime("%m/%d")}}</option>
          <option value="%d/%m" {% if user.author_format=='%d/%m' %}selected="selected"{% endif %}>{{now.strftime("%d/%m")}}</option>
          <option value="%b %d" {% if user.author_format=='%b %d' %}selected="selected"{% endif %}>{{now.strftime("%b %d")}}</option>
          <option value="%a, %b %d" {% if user.author_format=='%a, %b %d' %}selected="selected"{% endif %}>{{now.strftime("%a, %b %d")}}</option>
        </select>
      </div>
    </fieldset>
    {% set sm_srv = user.send_mail_service -%}
    {% set sm_srv_type = sm_srv.get('service', 'gae') -%}
    {% if session.get('role') == 'admin' or sm_srv_type != 'admin' -%}
    <fieldset id="send_mail_service">
      <legend><h3>{{_("Send Mail Service")}}</h3></legend>
      <div class="pure-control-group">
        <label>{{_("Service")}}</label>
        <select class="pure-u-1 pure-u-sm-1-2" name="sm_service" id="sm_service" onchange="SetSmOptiosVisualbility();">
          {% if 'gae' in sm_services -%}
          <option value="gae" {% if sm_srv_type == 'gae' %}selected="selected"{% endif %}>GAE</option>
          {% endif -%}
          {% if 'sendgrid' in sm_services -%}
          <option value="sendgrid" {% if sm_srv_type == 'sendgrid' %}selected="selected"{% endif %}>sendgrid</option>
          {% endif -%}
          {% if 'mailjet' in sm_services -%}
          <option value="mailjet" {% if sm_srv_type == 'mailjet' %}selected="selected"{% endif %}>mailjet</option>
          {% endif -%}
          {% if 'smtp' in sm_services -%}
          <option value="smtp" {% if sm_srv_type == 'smtp' %}selected="selected"{% endif %}>SMTP</option>
          {% endif -%}
          {% if 'local' in sm_services -%}
          <option value="local" {% if sm_srv_type == 'local' %}selected="selected"{% endif %}>local (debug)</option>
          {% endif -%}
        </select>
      </div>
      <div class="pure-control-group" id="sm_apikey">
        <label>{{_("ApiKey")}}</label>
        <input type="text" name="sm_apikey" value="{{sm_srv.get('apikey', '')}}" class="pure-u-1 pure-u-sm-1-2" />
      </div>
      <div class="pure-control-group" id="sm_secret_key">
        <label>{{_("SecretKey")}}</label>
        <input type="text" name="sm_secret_key" value="{{sm_srv.get('secret_key', '')}}" class="pure-u-1 pure-u-sm-1-2" />
      </div>
      <div class="pure-control-group" id="sm_host">
        <label>{{_("Host")}}</label>
        <input type="text" name="sm_host" value="{{sm_srv.get('host', '')}}" class="pure-u-1 pure-u-sm-1-2" />
      </div>
      <div class="pure-control-group" id="sm_port">
        <label>{{_("Port")}}</label>
        <input type="text" name="sm_port" value="{{sm_srv.get('port', '587')}}" class="pure-u-1 pure-u-sm-1-2" />
      </div>
      <div class="pure-control-group" id="sm_username">
        <label>{{_("Username")}}</label>
        <input type="text" name="sm_username" value="{{sm_srv.get('username', '')}}" class="pure-u-1 pure-u-sm-1-2" />
      </div>
      <div class="pure-control-group" id="sm_password">
        <label>{{_("Password")}}</label>
        <input type="password" name="sm_password" value="{% if sm_srv.get('password', '') %}********{% endif %}" class="pure-u-1 pure-u-sm-1-2" />
      </div>
      <div class="pure-control-group" id="sm_save_path">
        <label>{{_("Save path")}}</label>
        <input type="text" name="sm_save_path" value="{{sm_srv.get('save_path', 'tests/debug_mail')}}" class="pure-u-1 pure-u-sm-1-2" />
      </div>
    </fieldset>
    {% endif -%}
    {% if user.sender -%}
    <p>
      {% autoescape off -%}
      {{_("Important: Please activate your kindle firstly, then goto %(personal)s Page and add %(sender)s to 'Approved Personal Document E-mail List'.", personal='<a href="https://www.amazon.com/hz/mycd/myx#/home/settings/payment" rel="external" target="_blank">' + _("Personal Document Settings") + '</a>', sender='<strong>' + user.sender + '</strong>')|safe}}
      {% endautoescape -%}
    </p>
    {% else -%}
    <p style="color:red;">
      {{_("You have not yet set up your email address. Please go to the 'Admin' page to add your email address firstly.")}}
    </p>
    {% endif %}
    <hr/>
    <p style="text-align:center;">
      <button type="submit" class="pure-button pure-button-primary pure-input-rounded">{{_('Save settings')}} </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="pure-button pure-input-rounded" onclick="SendTestEmail()"> {{_("Send Test Email")}}</button>
    </p>
  </form>
</div>
{% endblock -%}

{% block js -%}
<script type="text/javascript">
$(document).ready(function() {
  SetSmOptiosVisualbility();
});

function ToggleWeekBtn(btnName) {
  var checkbox = $(btnName);
  checkbox.prop("checked", !checkbox.prop('checked'));
}

function SetSmOptiosVisualbility() {
  var svr = $('#sm_service').val();
  if (svr == 'gae') {
    $('#sm_apikey').hide();
    $('#sm_secret_key').hide();
    $('#sm_host').hide();
    $('#sm_port').hide();
    $('#sm_username').hide();
    $('#sm_password').hide();
    $('#sm_save_path').hide();
  } else if (svr == 'sendgrid') {
    $('#sm_apikey').show();
    $('#sm_secret_key').hide();
    $('#sm_host').hide();
    $('#sm_port').hide();
    $('#sm_username').hide();
    $('#sm_password').hide();
    $('#sm_save_path').hide();
  } else if (svr == 'mailjet') {
    $('#sm_apikey').show();
    $('#sm_secret_key').show();
    $('#sm_host').hide();
    $('#sm_port').hide();
    $('#sm_username').hide();
    $('#sm_password').hide();
    $('#sm_save_path').hide();
  } else if (svr == 'smtp') {
    $('#sm_apikey').hide();
    $('#sm_secret_key').hide();
    $('#sm_host').show();
    $('#sm_port').show();
    $('#sm_username').show();
    $('#sm_password').show();
    $('#sm_save_path').hide();
  } else if (svr == 'local') {
    $('#sm_apikey').hide();
    $('#sm_secret_key').hide();
    $('#sm_host').hide();
    $('#sm_port').hide();
    $('#sm_username').hide();
    $('#sm_password').hide();
    $('#sm_save_path').show();
  } else {
    $('#sm_apikey').hide();
    $('#sm_secret_key').hide();
    $('#sm_host').hide();
    $('#sm_port').hide();
    $('#sm_username').hide();
    $('#sm_password').hide();
    $('#sm_save_path').hide();
  }
}

//发送测试邮件
function SendTestEmail() {
  $.post("/send_test_email", {url: window.location.href}, function (data) {
    if (data.status == "ok") {
      ShowSimpleModalDialog('<p>{0}<br/><hr/>{1}</p>'.format(i18n.testEmailOk, data.emails.join('<br/>')));
    } else {
      alert(data.status);
    }
  });
  return false;
}
</script>
{% endblock -%}