body {
    font-family: '微软雅黑',YaHeiConsolas,'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
    font-size: 100%;
    max-width: 800px;
    min-width: 300px;
    margin:5px auto 0;
    padding: 0 5px;
    background-color: #f4f4f4;
    position: relative;
}

input,select {
    font-size: 100%;
}

a { color: #00c; text-decoration: underline; }
a:visited { color: #00c; }

.error {
    color:red;
}
.success{
    color:green;
}
.clear{
    clear:both;
}

h2{
    font-size:1.5em;
}

h2 a{
    text-decoration:none;
}

.btn{
    padding:2px 4px;
}
.required{
    color:red;
}

#header{
    border-bottom: 2px solid #444;
}

#header h1{
    float:left;
    width:45%;
    margin:0;
    font-size:160%;
}

#header h1 sup, sup.beta{
    font-size:50%;
    color:red;
}

#header h1 a{
    color:#000;
    text-decoration:none;
}

#header span,#header a.nav{
    float:right;
    font-size:18px;
    text-align:right;
    margin-left:4px;
}

.grey{
    color: #555; 
    font-size: 13px; 
    margin-bottom: 20px;
}

#content{
    margin:10px 0;
}

/*#set_frm fieldset{
    background:#F8F8F8;
    padding:20px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    margin:15px 0
}*/
.save_btn{
    text-align:center
}
.save_btn .btn{
    padding:5px 10px;
}
.logs_list{
    border-spacing: 0;
    border-collapse: collapse;
    background:#F8F8F8;
    width:100%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.logs_list td,.logs_list th{
    font-size: 13px;
    padding:3px 10px;
    border: 1px solid #e6e6e6;
}

.logs_list td{
    line-height: 25px;
    text-align: left;
    padding-left: 10px;
}
.logs_list th{
    font-weight: bold;
    color: #333;
    line-height: 25px;
    text-align: left;
    padding-left: 10px;
}

.logs_list .center{
    text-align:center;
}
.logs_list strong{font-weight: bold;color:#005DA7;}
.logs_list caption{
    font-size: 16px;
    text-align: left;
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
}
.logs_list .logbook {
    text-align:center;
}

.logs_list .logbook span{
    display:none;
}
.logs_list .logbook:hover{
    position:relative;
    z-index:1;
}
.logs_list .logbook:hover span{
    display:block;
    padding:2px;
    background:#ffffe1;
    border:1px solid #000000;
    color:#333;
    z-index:10;
    position:absolute;
    top:1.2em;
    left:5px;
    width:400px;
}

#content {
    min-height: 300px;
}
#footer{
    margin-top:10px;
    text-align: center;
    border-top: 1px solid #444;
}

.bookmarklet {
    display: inline-block;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    font-weight: bold;
    font-size: 11px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #fff;
    background-color: #626262;
    border: 1px solid #626262;
    padding: 0px 7px 1px 7px;
    text-shadow: #3b3b3b 1px 1px 0px;
    min-width: 62px;
    text-align: center;
    vertical-align: 2px;
}
a.bookmarket, a.bookmarklet:hover, a.bookmarklet:active, a.bookmarklet:visited { 
    color: #fff; text-decoration: none; outline: none;
}
.bookmarklet:focus { outline: none; }

a.inactive_bookmarklet, a.inactive_bookmarklet:hover, a.inactive_bookmarklet:active, a.inactive_bookmarklet:visited {
    background-color: #f8f8f8;
    border-color: #aaa;
    color: #444;
    text-shadow: none;
}

.bookmarklet:hover, .active_bookmarklet, a.inactive_bookmarklet:hover, a.active_bookmarklet:hover, a.active_bookmarklet:active, a.active_bookmarklet:visited {
    background-color: #626262;                
    border-color: #626262;
    text-shadow: #3b3b3b 1px 1px 0px;
    color: #fff;
}

table.tb_cm {
    background-color:yellow;
    border:1px dotted black;
    width:80%;
    border-collapse:collapse;
}
table.tb_cm tr.tb_cm_tr_th {
    background-color:orange;
    color:white;
}
#menubar {
    text-align:center;
}

fieldset{
border:1px solid silver;
margin:0 2px;
padding:.35em .625em .75em
}
legend{
border:0;
padding:0;
white-space:normal;
*margin-left:-7px
}
/*fieldset {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 3px 3px 3px 3px;
}*/
/*legend {
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:#06c;
  font-size:80%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}*/
.actionButton,
.actionButton:visited,
.actionButton:active {
    font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 5px 5px;
    margin: 2px;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    color: #555;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.actionButton:hover {
    text-decoration: none;
    /*border-color: #448;*/
    outline:0;
    outline:thin dotted \9;
    border-color:#129FEA;
}

.book {
    border:1px solid silver;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 3px 3px 3px 3px;
    margin-bottom: 2px;
}

.book:hover{
    border-color: #548;
}
.titleRow {
    font-size:1em;
    font-weight:bold;
    margin-bottom:10px;
    margin-top:1px;
    float: left;
    padding-top: 3px;
    padding-left:3px;
    width:400px;
    clear:both;
}
.summaryRow {
    font-size: 0.8em;
    color: #555;
    margin-top: 10px;
    margin-left:6px;
    padding-right:26px;
    padding-bottom:5px;
    clear:both;
}
.summaryRow span{
    display:none;
}
.summaryRow:hover{
    position:relative;
    z-index:1;
}
.summaryRow:hover span{
    display:block;
    padding:2px;
    background:#ffffe1;
    border:1px solid #000000;
    color:#333;
    z-index:10;
    position:absolute;
    top:1.2em;
    left:5px;
    width:600px;
}
.cornerControls {
    float: right;
    text-align: right;
    /*padding-top: 3px;*/
}
img{
    border: 0px;
}

#categoryHeader{
    font-size: 1.4em;
}