/*
 * -- BASE STYLES --
 */

html,
body {
    height: 100%;
}

body {
    color: #526066;
}

h2,
h3 {
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

a {
    color: #0078e7;
}

input[type=submit],
button {
  outline: none;
}

/*
 * -- Override PureCSS --
 */

.pure-form .pure-input-rounded,
.pure-form input.pure-input-rounded {
  padding: .5em 1.5em;
}

/*
 * -- LAYOUT STYLES --
 */

#content {
    min-height: 100%;
    margin-bottom: -73px;
}

.l-content {
    padding: 3em 0;
    padding-bottom: 73px;
}

.footer-sticker {
    height: 73px;
}

.l-box {
    padding: 0.5em 2em;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}

.footer a {
    color: #ddd;
    text-decoration: none;
}

/*
 * -- MENU STYLES --
 */

.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,.15)
}

.logo {
    padding: .5em;
    font-family: Palatino, STSong, SimSun, serif;
    font-size: 1.5em;
    text-transform: none;
    font-weight: 200;
    color: #222;
}

.home-menu {
    padding: 0 .5em;
}

.home-menu .pure-menu-item {
    height: auto;
}

.home-menu .pure-menu-link {
    padding: 1em .5em;
}

.app-menu {
    background-color: #0078e7;
}

.app-menu .pure-menu-list {
    margin: 0 auto;
    max-width: 800px;
}

@media only screen and (min-width: 480px) {
    .app-menu .pure-menu-list {
        display: block!important;
    }
}

.app-menu .pure-menu-link {
    color: #6fbef3;
}

.app-menu a,
.app-menu span {
    padding: .8em 1em;
}

.app-menu .pure-menu-selected a,
.app-menu .pure-menu-selected span {
    color: white;
}

.app-menu .pure-menu-item a:hover,
.app-menu .pure-menu-item a:focus {
    background: none;
    border: none;
    color: #aecfe5;
}

.app-menu.pure-menu-horizontal.pure-menu-scrollable {
    padding: 0;
}

.main {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

/*
 * -- BANNER --
 */

.banner {
    padding: 6em 0;
    background: #262626 url('banner-bg.png') center center no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='banner-bg.png', sizingMethod='scale');
    width: 100%;
    display: table;
}

@media (min-width: 480px) {
    .banner {
        padding: 10em 0;
    }
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    padding: 0 2em;
}

.banner-head h1 {
    margin: 0 0 .67em;
    font-size: 3.8em;
    color: white;
    font-weight: 200;
    text-shadow: 0 1px 1px black;
}

.banner a.pure-button {
    border-radius: 2em;
    padding: .8em 2em;
}

@media only screen and (max-width: 768px) {
    .banner-head h1 {
        font-size: 2.8em;
    }
}

@media only screen and (max-width: 568px) {
    .banner-head h1 {
        font-size: 1.6em;
    }

    .banner-head form input {
        margin-bottom: .3em;
    }

    .banner-head form button {
        margin-top: .7em;
    }
}

@media only screen and (max-width: 375px) {
    .banner-head h1 {
        font-size: 1.49em;
    }
}

@media only screen and (max-width: 320px) {
    .banner-head h1 {
        font-size: 1.23em;
    }
}

/*
 * -- BOX LIST STYLE --
 */

.box-list {
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-top-width: 2px;
    border-top-color: #ccc;
    border-radius: .5em;
    background: #f9f9f9;
    overflow: hidden;
}

.box-list .box {
    position: relative;
    margin: 0;
    padding: .7em 1em;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.box-list .box:hover {
    background-color: #f9f9f9;
}

.box-list .box:last-child {
    border-bottom: 0;
}

.box-list#bookmarklet .box {
    padding-right: 1em;
}

.box-list#bookmarklet .box a {
    margin-top: 8px;
}

.box-list .book .titleRow {
    padding-bottom: .2em;
    font-size: 1.1em;
    font-weight: bold;
}

.box-list .book.pure-form .titleRow {
    font:unset;
}

.box-list#bookmarklet .book .titleRow small {
    font-weight: normal;
    padding-left: .5em;
}

.box-list .book .titleRow img {
    vertical-align: -3px;
}

.box-list .book .titleRow span {
    font-size: 0.6em;
    color: gray;
    font-weight: normal;
    font-style: italic;
}

.box-list .book .titleRow sup {
    font-size: 0.6em;
    color: red;
    font-weight: normal;
    font-style: italic;
}

.box-list .book .summaryRow {
    word-wrap: break-word;
}

.box-list .book .summaryRow a {
    text-decoration: none;
    color: gray;
}

.box-list .book .summaryRow a:hover {
    color: #0078e7;
    text-decoration: underline;
}

.actionButton {
    display: inline-block;
    padding: 0 1em;
    line-height: 30px;
    text-align: center;
    background-color: #999;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2em;
}

#bookmarklet .box .actionButton {
    display: block;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #111;
    font-weight: bold;
    border: 3px dotted gray;
    background-color: #efefef;
    border-radius: .5em;
    box-sizing: border-box;
}

.box-list .box .cornerControls {
    margin-top: .5em;
    text-align: center;
}

.actionButton.add {
    background-color: #0078e7;
}

.actionButton:hover {
    background-color: rgb(202, 60, 60);
}

.actionButton.add:hover {
    background-color: #0765bb;
}

.actionButton.act:hover {
    background-color: #0078e7;
}

@media only screen and (min-width: 768px) {
    .my-rss .box-list .box,
    .advwhitelist .box-list .box,
    .advurlfilter .box-list .box {
        padding-right: 6.3em;
    }

    .box-list .box .cornerControls {
        position: absolute;
        top: 50%;
        right: 1em;
        margin-top: -17px;
    }
}

/*
 * -- FORM ELEMENT STYLE --
 */

.my-rss h2 {
    margin: .5em auto;
    text-align: center;
}

.settings .pure-form-aligned .pure-control-group label,
.admin .pure-form-aligned .pure-control-group label {
    width: auto;
    font-weight: bold;
}

.advdelivernow .pure-form .pure-radio,
.advdelivernow .pure-form label {
    margin: 0;
}

@media only screen and (min-width: 568px) {
    .settings .pure-form-aligned .pure-control-group label,
    .admin .pure-form-aligned .pure-control-group label {
        width: 7.5em;
        padding: .45em;
        border-bottom: 2px solid #eee;
        border-radius: 4px;
        background-color: #f9f9f9;
    }
}

.settings .pure-form-aligned .pure-control-group span {
    vertical-align: -2px;
}

.pure-form legend {
    color: #526066;
}

/*
 * -- NOTICE STYLE --
 */

.notice-box {
    padding: 12px 20px;
    margin-bottom: .6em;
    color: #856404;
    border: 1px solid #ffeeba;
    background-color: #fff3cd;
    border-radius: 5px;
}

/*
 * -- TABLE STYLE --
 */

table.pure-table {
    font-size: .9em;
    border-collapse: separate;
    border-top-width: 2px;
    border-radius: .5em;
    overflow: hidden;
}

table.pure-table thead {
    background-color: #eee;
}

@media only screen and (max-width: 568px) {
    .pure-table-horizontal tr,
    .pure-table-horizontal th,
    .pure-table-horizontal td {
        display: block;
        padding: .3em 0;
    }

    .pure-table-horizontal tr {
        padding: 1em;
    }

    .pure-table-horizontal th,
    .pure-table-horizontal tbody td {
        border-bottom: 0;
    }

    .pure-table-horizontal tbody tr {
        border-top: 1px solid #cbcbcb;
    }
}

/*
* -- FOR COMBOBOX widget --
*/

.select-editable {
     position:relative;
     background-color:white;
     border:solid gray 1px;
     width:200px;
     height:20px;
 }

 .select-editable select {
     position:absolute;
     top:0px;
     left:0px;
     font-size:14px;
     border:none;
     width:200px;
     margin:0;
 }

 .select-editable input {
     position:absolute;
     top:0px;
     left:0px;
     width:180px;
     height:19px;
     padding:1px;
     font-size:12px;
     border:solid gray 1px;
 }

 .select-editable select:focus, .select-editable input:focus {
     outline:none;
 }

/*
 * -- PAGINATION BUTTONS STYLE --
 */

.paging {
  overflow: hidden;
  display: block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 14px;
  color: #666666;
  background-color: #FFFFFF;
}

.paging li {
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin: 0px 5px;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 2px;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
}

.paging li:hover {
  border-color:#31C27C;
  color:#31C27C;
}

.paging li.pgdisabled {
  border: 1px solid #ddd;
  color: #ddd;
}

.paging .pageinfo {
  width: 60px;
  border: none;
}
