{% extends "base.html" %}
{% block css -%}
<style type="text/css">
.newitem {
    width:96.7%;
    color: #555;
}
.tburl{
    border:1px solid silver;
    cellspacing:0;
    cellpadding:0;
    width:100%;
}
td span{
    display:none;
}
td:hover{
    position:relative;
    z-index:1;
}
td:hover span{
    display:block;
    background:#ffffe1;
    border:1px solid #000000;
    color:#333;
    z-index:10;
    position:absolute;
    top:1.2em;
    left:5px;
    width:600px;
}
.m-box-l {
    padding:0.5em 0.5em 0.5em 0;
}
.m-box-r {
    padding:0.5em 0 0.5em 0.5em;
}
</style>
{% endblock -%}
{% block content -%}
<div class="pure-skin-mine">
<div class="pure-g">
  <div class="pure-u-4-5">
  <div class="m-box-l">
   {% block advcontent -%}
   {% endblock -%}
  </div>
  </div>
  
  <div class="pure-u-1-5">
  <div class="m-box-r">
   <div class="pure-menu pure-menu-open">
    <ul>
    {% if advcurr=='delivernow' -%}
      <li class="pure-menu-selected"><a href="#">{{_("Deliver now")}}</a>
      </li>
    {% else -%}
      <li><a href="/advdelivernow">{{_("Deliver now")}}</a></li>
    {% endif -%}
    {% if advcurr=='whitelist' -%}
      <li class="pure-menu-selected"><a href="#">{{_("White List")}}</a>
      </li>
    {% else -%}
      <li><a href="/advwhitelist">{{_("White List")}}</a></li>
    {% endif -%}
    {% if advcurr=='share' -%}
      <li class="pure-menu-selected"><a href="#">{{_("Share")}}</a>
      </li>
    {% else -%}
      <li><a href="/advarchive">{{_("Share")}}</a></li>
    {% endif -%}
    {% if advcurr=='urlfilter' -%}
      <li class="pure-menu-selected"><a href="#">{{_("Url Filter")}}</a>
      </li>
    {% else -%}
      <li><a href="/advurlfilter">{{_("Url Filter")}}</a></li>
    {% endif -%}
    {% if advcurr=='import' -%}
      <li class="pure-menu-selected"><a href="#">{{_("Import Feeds")}}</a>
      </li>
    {% else -%}
      <li><a href="/advimport">{{_("Import Feeds")}}</a></li>
    {% endif -%}
    {% if advcurr=='uploadcoverimage' -%}
      <li class="pure-menu-selected"><a href="#">{{_("Cover Image")}}</a>
      </li>
    {% else -%}
      <li><a href="/advuploadcoverimage">{{_("Cover Image")}}</a></li>
    {% endif -%}
    </ul>
   </div>
  </div>
  </div>
</div>
</div>
{% endblock -%}