{% extends "advbase.html" %}
{% block titleTag -%}
<title>{{ _("Deliver now") }} - KindleEar</title>
{% endblock -%}
{% block advcontent -%}
<div class="pure-form pure-form-aligned">
  <fieldset>
    <legend><h3>{{ _("Deliver now") }}</h3></legend>
    <p><small>{{ _("Deliver selected recipes now") }}</small></p>
    <div class="box-list">
      {% if recipes|length == 0 -%}
        <div class="box">{{ _("There are no books subscribed") }}</div>
      {% endif -%}
      {% for item in recipes -%}
      {% if item|attr('recipe_id') -%}
        {% set recipe_id = item.recipe_id -%}
      {% else -%}
        {% set recipe_id = 'custom:' + item.key_or_id_string -%}
      {% endif -%}
      <label for="{{recipe_id}}" class="pure-checkbox box">
        <input id="{{recipe_id}}" type="checkbox" checked="1" onclick="UpdateDeliverRecipeLink();" />
        <span>{{item.title}}</span>
      </label>
      {% endfor -%}
      {% if recipes|length > 0 -%}
      <div class="cornerControls" style="padding:.5em 0;text-align:center;">
        <a href="#" class="actionButton" onclick="SelectDeliverAll();UpdateDeliverRecipeLink();return false;">{{ _("Select all") }}</a>
        <a href="#" class="actionButton" onclick="SelectDeliverNone();UpdateDeliverRecipeLink();return false;">{{ _("Select none") }}</a>
      </div>
      {% endif -%}
    </div>
    <div style="text-align:center;">
        <a href="/deliver?u={{session.get('userName', '')}}" value="{{ _('Deliver') }}" id="deliverButton" class="pure-button pure-button-primary pure-input-rounded">{{ _('Deliver') }}</a>
    </div>
  </fieldset>
</div>
{% endblock -%}
