{% extends "base.html" %}
{% block css %}
<style type="text/css">
.newfilter {
    margin-bottom:5px;
    margin-top:3px;
    float: left;
    padding-top: 3px;
    padding-left:3px;
    width:90%;
    clear:left;
    color: #555;
    padding-right:6px;
}
.tburl{
    border:1px solid silver;
    cellspacing:0;
    cellpadding:0;
    width:100%;
}
.trodd{
    background-color:#f0f0f0;
}
.treven{
    background-color:#e5e5e5;
}
td span{
    display:none;
}
td:hover{
    position:relative;
    z-index:1;
}
td:hover span{
    display:block;
    background:#ffffe1;
    border:1px solid #000000;
    color:#333;
    z-index:10;
    position:absolute;
    top:1.2em;
    left:5px;
    width:600px;
}
</style>
{% endblock %}
{% block content %}
<fieldset id="whitelist">
    <legend>{{_("White List")}}</legend>
    <p style="font-size:0.8em;color:grey;">
        {{_("mail sent to %sxxx@<em>appid</em>.appspotmail.com will be transfered to your email.")|format('' if user.name=="admin" else user.name+"__")}}
    </p>
    {% if whitelists.count() %}
    <table class="tburl">
    {% for lst in whitelists %}
    <tr class="{{loop.cycle('trodd', 'treven')}}">
        <td style="width:80%">{{lst.mail}}</td>
        <td style="text-align:right;"><a href="/advdel?delwlist={{lst.key().id()}}" class="actionButton">{{_("Delete")}}</a></td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    <form action="" method="POST">
    <div class="addwhitelist">
        <div class="newfilter">
            <input type="text" name="wlist" style="width:80%;" placeholder="{{_("Please input mail address")}}" />
        </div>
        <div class="cornerControls">
            <input type="submit" value="{{_("Add")}}" class="actionButton" />
        </div>
    </div>
    </form>
</fieldset>
<p style="font-size:8px;"> </p>
<fieldset id="urlfilter">
    <legend>{{_("Url Filter")}}</legend>
    <p style="font-size:0.8em;color:grey;">{{_("Urls in list would not be downloaded for saving of time.")}}</p>
    {% if urlfilters.count() %}
    <table class="tburl">
    {% for urlflt in urlfilters %}
    <tr class="{{loop.cycle('trodd', 'treven')}}">
        <td style="width:80%">
            {%if urlflt.url|length>70%}{{urlflt.url[:70]}}...<span>{{urlflt.url}}</span>{%else%}{{urlflt.url}}{%endif%}
        </td>
        <td style="text-align:right;"><a href="/advdel?delurlid={{urlflt.key().id()}}" class="actionButton">{{_("Delete")}}</a></td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
    <form action="" method="POST">
    <div class="addfilter">
        <div class="newfilter">
            <input type="text" name="url" style="width:80%;" placeholder="{{_("Please input regular expression")}}" />
        </div>
        <div class="cornerControls">
            <input type="submit" value="{{_("Add")}}" class="actionButton" />
        </div>
    </div>
    </form>
</fieldset>
{% endblock %}