<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{title}} - Kindle's Ear</title>
    <meta name="description" content="KindleEar is a service for Amazon Kindle owners that lets you aggregate feeds you chosen and have them delivered to your Kindle in a convenient, easy-to-navigate format." />
    <link rel="stylesheet" href="/static/base.css" type="text/css" charset="utf-8"/>
    {% block cssfiles %}{% endblock %}
    {% block css %}{% endblock %}
    {% block jsfiles %}{% endblock %}
    {% block js %}{% endblock %}
</head>
{% block bodytag %}
<body>
{% endblock %}
    <div id="header">
        {% block header %}
        <h1><a href="/">KindleEar<sup>&#9728;</sup></a></h1>
        {% if nickname %}
          <a class="nav" href="/logout">{{_("Logout")}}</a>
          <span style="color: #ccc;">&bull;</span>
        <span>Hello, <a href="/admin"><strong>{{nickname}}</strong></a></span>
        {% endif %}
        <div class="clear"></div>
        {% endblock %}
    </div>
    <div id="menubar">
    {% block menubar %}
    {% if nickname %}
        <h2 id="categoryHeader"> 
        {% if current == "my" %}
        {{_("Feeds")}}
        {% else %}
        <a style="font-weight:normal;" href="/my">{{_("Feeds")}}</a>
        {% endif %}
        <span style="color: #ccc;">&bull;</span>
        {% if current == "setting" %}
        {{_("Setting")}}
        {% else %}
        <a style="font-weight:normal;" href="/setting">{{_("Setting")}}</a>
        {% endif %}
        <span style="color: #ccc;">&bull;</span>
        {% if current == "logs" %}
        {{_("Logs")}}
        {% else %}
        <a style="font-weight:normal;" href="/logs">{{_("Logs")}}</a>
        {% endif %}
        <span style="color: #ccc;">&bull;</span>
        {% if current == "admin" %}
        {{_("Admin")}}
        {% else %}
        <a style="font-weight:normal;" href="/admin">{{_("Admin")}}</a>
        {% endif %}
        <span style="color: #ccc;">&bull;</span>
        {% if current == "advsetting" %}
        {{_("Advance")}}
        {% else %}
        <a style="font-weight:normal;" href="/advsetting">{{_("Advance")}}</a>
        {% endif %}
        </h2>
    {% else %}
        <h2 style="text-align:center;padding:10px 0;"><a href="/login">{{_("Please Login")}}</a></h2>
    {% endif %}
    {% endblock %}
    </div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        <div class="clear"></div>
        2013 &copy; KindleEar&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://kindleear.appspot.com/static/faq.html" target="_blank" style="text-decoration:none;">FAQ</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://github.com/cdhigh/kindleear" target="_blank" style="text-decoration:none;">Github page</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://appengine.google.com" target="_blank" style="text-decoration:none;">App Engine</a>
        <div style="float:right;"><a href="/setlang/en"><img src="/static/us.gif" alt="EN" /></a>
        <a href="/setlang/zh-cn"><img src="/static/cn.gif" alt="CN" /></a></div>
        <pre><p></p></pre>
        {% endblock %}
    </div>
</body>
</html>
