{% extends "base.html" %}
{% block menubar -%}
{% endblock -%}
{% block content -%}
    {% if tips -%}
    <p style="color:red;font-weight:bold;">{{tips}}</p>
    {% endif -%}
    <form class="pure-form pure-form-aligned" action="" method="POST">
        <div class="pure-control-group">
            <label for="u">{{_("Username")}}</label>
            <input id="u" name="u" type="text" placeholder="Username" 
            {% if username %}value="{{username}}"{% endif %} readonly="true" />
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">{{_("Delete")}}</button>
        </div>        
    </form>
{% endblock -%}