{% extends "base.html" %}
{% block css -%}
<style type="text/css">
p{
    color:#2d2d2d;
    /*text-align:center;*/
    line-height: 1.6em;
    margin:1em 0 0 0;
}
.banner {
    background-color:#0078e7;
    text-align: center;
    background-size: cover;
    height: 100px;
    width: 100%;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 1.5em;
    color: white;
    font-weight: 500;
}
.l-box {
    padding: 0.5em 1em;
}
.information {
    max-width: 800px;
    margin: 0 auto;
}
.information-head {
    color: black;
    font-weight: 500;
}

</style>
{% endblock -%}
{% block bodytag -%}
<body onload="document.getElementById('u').focus();">
{% endblock -%}
{% block content -%}
    <div class="banner">
        <h1 class="banner-head">
            {{_("Free Forever.")}} {{_("Good News Always Come With You.")}}
        </h1>
    </div>
    <div class="pure-g-r">
    <div class="information pure-u-1-2">
        <div class="l-box">
        <h3 class="information-head">{{_("Inherited From Calibre")}}</h3>
        <p>{{_("Author modified and ported Calibre to generate mobi file in GAE without kindlegen tool of Amazon,")}}
            {{_("for periodical mobi file is a better format to represent news feeds.")}}</p>
        </div>
    </div>
    <div class="information pure-u-1-2">
        <div class="l-box">
        <h3 class="information-head">{{_("Share Your Ideas")}}</h3>
        <p>{{_("With my")}} <a href="https://github.com/cdhigh/kindleear" target="_blank" style="text-decoration:none;">
            {{_("open source KindleEar application")}}</a>
            {{_(", You can deploy your own server to push news feeds to your kindle dialy or share the service with your friends.")}}</p>
        </div>
    </div>
    </div>
{% endblock -%}