{% extends "base.html" %}
{% block css %}
<style type="text/css">
p{
    color:#2d2d2d;
    text-align:center;
}
li{
    list-style:circle;
    color:#2d2d2d;
}
</style>
{% endblock %}
{% block content %}
    <p>{{_("KindleEar is a web application to aggregate rss for generating")}}
        <a href="/static/periodical.gif" target="_blank" style="text-decoration:none;"> {{_("periodical mobi file with images")}} </a>
        {{_("and send it to your kindle automatically.")}}<br /><br /></p>
    <ul>
    <li>{{_("Author modified and ported Calibre to generate mobi file in GAE without kindlegen tool of Amazon,")}}
        {{_("for periodical mobi file is a better format to represent news feeds.")}}<br /><br /></li>
    <li>{{_("With my")}} <a href="https://github.com/cdhigh/kindleear" target="_blank" style="text-decoration:none;">
        {{_("open source KindleEar application")}}</a>
        {{_(", You can deploy your own server to push news feeds to your kindle dialy or share with your friends.")}}<br /><br /></li>
    <li>{{_("Current version : ")}}{{version}}<br /></li>
    </ul>
{% endblock %}