{% extends "base.html" %}

{% block bodytag -%}
<body onload="javascript:var u=document.getElementById('u');if(u){u.focus();}" class="index">
{% endblock -%}

{% block content -%}
<div class="banner">
    <div class="banner-head">
        <h1>{{_("Free Forever.")}}{{_("Good News Always Come With You.")}}</h1>
        {% if nickname -%}
            <a class="pure-button pure-button-primary" href="/my">{{_("Feeds")}}</a>
            <a class="pure-button pure-button-primary" href="/logout" style="margin-left:.6em;">{{_('Logout')}}</a>
        {% else -%}
        <form class="pure-form" action="/login" method="POST">
            <input type="text" name="u" id="u" placeholder="{{_('Username')}}" class="pure-input-rounded pure-u-1 pure-u-sm-1-4 pure-u-lg-1-6"/>
            <input type="password" name="p" placeholder="{{_('Password')}}" class="pure-input-rounded pure-u-1 pure-u-sm-1-4 pure-u-lg-1-6"/>
            <button type="submit" class="pure-button pure-button-primary pure-input-rounded pure-u-1 pure-u-sm-1-6 pure-u-lg-1-12">{{_('Login')}}</button>
        </form>
        {% endif -%}
    </div>
</div>

<div class="main l-content">
    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">{{current}}{{_("Inherited From Calibre")}}</h3>
                <p>
                    {{_("Author modified and ported %s to generate mobi file in GAE without kindlegen tool of Amazon,")|format('<a href="https://calibre-ebook.com/" target="_blank">Calibre</a>')}}{{_("for periodical mobi file is a better format to represent news feeds.")}}
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">{{_("Share Your Ideas")}}</h3>
                <p>
                    {{_("With my")}} <a href="https://github.com/cdhigh/kindleear" target="_blank">{{_("open source KindleEar application")}}</a>{{_(", You can deploy your own server to push news feeds to your kindle dialy or share the service with your friends.")}}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock -%}