{% extends "base.html" %}
{% block css %}
<style type="text/css">
#fs_login{
    background:#F8F8F8;
    padding:20px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDDD;
    margin:15px 0;
}
#tips{
    color:red;
    font-size:0.8em;
    text-align:center;
}
#login{
    margin:0px auto;
}
#note{
    color:grey;
    font-size:0.8em;
    text-align:center;
}
</style>
{% endblock %}
{% block bodytag %}
<body onload="document.getElementById('username').focus();">
{% endblock %}
{% block menubar %}
{% endblock %}
{% block content %}
    <fieldset id="fs_login">
    {% if tips %}
    <p id="tips">{{tips}}</p>
    {% endif %}
    <form action="/login" method="POST">
    <table id="login">
        <tr>
            <td style="text-align:right;">{{_("Username")}} : </td>
            <td><input type="text" name="u" id="username" {% if username %}value="{{username}}"{% endif %} /></td>
        </tr>
        <tr>
            <td style="text-align:right;">{{_("Password")}} : </td>
            <td><input type="password" name="p" id="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="{{_("Login")}}" onclick="javascript:return check();window.close();" target="_parent" /></td>
        </tr>
    </table>
    </form>
    </fieldset>
    <pre><p> </p></pre>
    <p id="note">{{_("The website dont allow register, you can ask owner open a account for you.")}}</p>
{% endblock %}