{% extends "base.html" %}
{% block css -%}
<style type="text/css">
.logs_list{
    border-spacing: 0;
    border-collapse: collapse;
    background:#F8F8F8;
    width:100%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.logs_list td,.logs_list th{
    font-size: 13px;
    padding:3px 10px;
    border: 1px solid #e6e6e6;
}

.logs_list td{
    line-height: 25px;
    text-align: left;
    padding-left: 10px;
}
.logs_list th{
    font-weight: bold;
    color: #333;
    line-height: 25px;
    text-align: left;
    padding-left: 10px;
}

.logs_list .center{
    text-align:center;
}
.logs_list strong{font-weight: bold;color:#005DA7;}
.logs_list caption{
    font-size: 16px;
    text-align: left;
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
}

</style>
{% endblock -%}
{% block content -%}
<form class="pure-form pure-form-aligned" action="" method="POST">
    {% if tips -%}
    <p class="error">{{tips}}</p>
    {% endif -%}
    {% if uplogs -%}
    <p><em class="required">*</em> {{_("Only display last 10 logs")}}</p>
    <table class="pure-table pure-table-striped logs_list">
        <thead><tr>
            <th class="center">{{_("Title")}}</th>
            <th class="center">{{_("UpdateLogs")}}</th>
        </tr></thead>
        <tbody>
        {% for log in uplogs -%}
        <tr>
           <td class="center">{{log.comicname}}</td>
            <td><input type="text" name={{log.comicname}} class="center" value="{% if log.updatecount %}{{ log.updatecount }}{% endif %}" required />
            </td>
        </tr>
        {% endfor -%}
        <tr>
            <td><input type="text" name="newname" class="center" value=""/></td>
            <td><input type="text" name="newcount" class="center" value=""/></td>
        </tr>
        </tbody>
    </table>
    {% else -%}
    <p>{{_("Has no log")}}</p>
    {% endif -%}
    <p style="text-align:center;">
        <input type="submit" class="pure-button pure-button-primary" value="{{_("Save settings")}}" />
    </p>
</form>
{% endblock -%}

